- content_for(:page_title) do
  =h post_title(@post)
  
.yui-g
  .yui-u.first
    .post
      = render :partial => 'posts/post', :locals => {:post => @post}      
    - if more_content?
      .related 
        = link_to_related_archive

  .yui-u
    = render :partial => 'comments/disqus'